
.cart-book-pic{
    width: 110px;
    height: 150px;
}

.qyt-txt{
    font-size: 30px;
    padding: 13px;
}

.cart-td-txt{
    font-size: 30px;
    padding: 10px;
}

.cart-th-txt{
    font-size: 20px;
}

.price-span{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.cart-books-message{
    display: flex;
justify-content: center;
}
.cart-dir-btn{
    margin: 20px;
    width: 100px;
}
